
.boo_navbar {
  background-color: #2c3e50;
  font-weight: bold;
}

.boo_navbar a.navbar-brand,
.boo_navbar .nav li a {
  color: white;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.Nav-b-bottom  {
    background-color: #1abc9c;
    color: white;
}

.smile {
    max-width: 250px;
}

.col-xs-12 {
    margin-top: 30px;
}

.boo_star .glyphicon-star {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.boo_star::before,
.boo_star::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.boo_starbg-dark::before,
.boo_starbg-dark::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: #2c3e50;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.boo_starbg-dark .glyphicon-star {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
}



.col-xs-12 img {
    margin-bottom: 20px;
}

.about {
    background-color: #1abc9c;
    color: white;
}

.testo1, .testo2 {
    padding-right: 20px;
    padding-left: 20px;
}

.pre-footer {
    background-color: #2c3e50;
    color: white;
}

.fa {
    padding: 10px;
    margin-right: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
}

footer {
    background-color: #1a252f;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
